CPyCppyy==v1.13.0
Cython==v3.1.3
Jinja2==v3.1.6
MarkupSafe==v3.0.2
PuLP==v3.2.2
absl-py==v2.3.1
ac-library-python
acl-cpp-python==v0.6.2
bitarray==v3.6.1
cppyy==v3.5.0
cppyy-backend==v1.15.3
cppyy-cling==v6.32.8
filelock==v3.19.1
fsspec==2025.7.0
gmpy2==v2.2.1
immutabledict==v4.2.1
joblib==v1.5.1
lightgbm==v4.6.0
llvmlite==v0.44.0
more-itertools==v10.7.0
mpmath==v1.3.0
networkx==v3.5
numba==v0.61.2
numpy==v2.2.6
ortools==v9.14.6206
pandas==v2.3.2
polars==v1.31.0
protobuf==v6.31.1
pyrsistent==v0.20.0
python-dateutil==v2.9.0.post0
pytz==v2025.2
rustworkx==v0.16.0
scikit-learn==v1.7.1
scipy==v1.16.1
shapely==v2.1.1
six==v1.17.0
sortedcontainers==v2.4.0
sympy==v1.14.0
threadpoolctl==v3.6.0
torch==v2.8.0+cpu
typing_extensions==v4.14.1
tzdata==v2025.2
z3-solver==v4.15.3.0
